.crypto-details-page-container {
    /* display: flex;
    flex-direction: row; */
}

.crypto-details-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LEFT SECTION */
.crypto-details-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    gap: 0.5rem;
}

.crypto-ticker {
    display: flex;
    align-items: end;
}

#crypto-image {
    max-width: 1.8rem;
}

#crypto-name {
    padding: 0rem 0.6rem;
}

#crypto-symbol {
    color: var(--elevation-bg-24);
    padding-bottom: 0.15rem;
}

/* RIGHT SECTION */
.crypto-details-right {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    padding: 2rem;
    background-color: var(--elevation-bg-4);
    border-radius: 1rem;
    margin: 1rem;
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1200px) {

}
  
/* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 480px) {
    .crypto-details-page-content {
        flex-direction: column;
    }

    .crypto-details-page-container {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .crypto-details-left {
        width: 90%;
    }
}