.home {
    padding: 15rem;
}

.home-header-container {
    text-align: center;
}

.home-header {
    padding: 4rem;
}

.home-header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.home-header-content-item {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    background-color: #bbbbbb;
    overflow: scroll;

}

.trending-crypto-container {
    display: flex;
    gap: 2rem;

}

.trending-crypto-item {
    display: flex;
    gap: 1rem;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #f6f6f6;

}

.trending-crypto-item > p {
    background-color: lightgray;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 0.4rem;
}

.trending-crypto-item > img {
    border-radius: 1rem;
}


.main-section-home {
    display: flex;
    margin: 4rem;
    gap: 1rem;
}

.crypto-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.crypto-list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    border: solid 1px black;
    border-radius: 0.3rem;
}

.crypto-list-item img {
    max-width: 3rem;
    max-height: 3rem;
}

.home-side-section {
    width: 30%;
}

