.home {
    padding: 15rem;
}

.home-header-container {
    text-align: center;
}

.home-header {
    padding: 4rem;
}

.home-header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.home-header-content-item {
    padding: 1.5rem;
    gap: 0.6rem;
    background-color: #bbbbbb;
    overflow: hidden;
}

.slick-list {
    cursor: grab;
}

/* adding space between slick slides */
.slick-slide > div {
    margin: 0 1rem;
}

.trending-crypto-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.trending-crypto-item {
    display: flex;
    gap: 1rem;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding: 1rem;
    cursor: grab;

}

.trending-crypto-item img {
    border-radius: 0.5rem;
}

.main-section-home {
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.crypto-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #bbbbbb;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 60%;
}

.crypto-list-item {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
}

.crypto-list-item img {
    max-width: 3rem;
    max-height: 3rem;
}



/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1200px) {
    .main-section-home {
        flex-direction: column;
    }
}
  
/* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 480px) {

}