.home-header {
    padding: 4rem;
    text-align: center;
}

.trending {
    gap: 0.6rem;
    overflow: hidden;
    margin: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--elevation-bg-1);
    padding: 1rem;
}

.slick-list {
    cursor: grab;
}

/* adding space between slick slides */
.slick-slide > div {
    margin: 0 1rem;
}

.trending-crypto-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.trending-crypto-container h2 {
    padding-left: 1rem;
    color: white;
}

.trending-crypto-item {
    display: flex;
    gap: 1rem;
    border-radius: 0.8rem;
    align-items: center;
    justify-content: center;
    background-color: var(--elevation-bg-4);
    padding: 1rem;
    cursor: grab;
}

.trending-crypto-item img {
    border-radius: 0.5rem 0 0 0.5rem;
}

.trending-crypto-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.trending-crypto-data label {
    font-size: 0.8rem;
}

.main-section-home {
    display: flex;
    margin: 1rem;
    gap: 1rem;
}



/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1200px) {
    .main-section-home {
        flex-direction: column;
    }
}
  
/* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 480px) {
    .crypto-list-item {
        flex-direction: column;
        gap: 0.1rem;
    }

    .button-wrapper {
        position: inherit;
        padding-right: 0;
    }
}