footer {
    overflow: hidden;
}

.footer-content {
    background-color: var(--elevation-bg-1);
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-top {
    display: flex;
    justify-content: space-around;
}

.newsletter-container {
    background-color: var(--elevation-bg-4);
    max-width: 35%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.newsletter-input-container {
    display: flex;
    max-width: 100%;
}

.newsletter-container input {
    padding: 0.5rem 0 0.5rem 0;
}

.newsletter-container button {
    -webkit-appearance: none;
    border-radius: 0;
    
}

.footer-link-container {
    display: flex;
}

.footer-link-column li {
    padding-top: 1rem;
}

.footer-link-column ul {
    padding: 0;
    list-style-type: none;
}

.footer-link-column a {
    text-decoration: none;
    color: #d3d3d3;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.privacy-policy {
    display: flex;
    gap: 2rem;
    color: #d3d3d3;
    cursor: default;
}

.social-icon {
    font-size: 3rem;
}

/* ============ MEDIA QUERIES (SMALL DEVICES/PHONE) =========== */
@media screen and (max-width: 480px) {
    .footer-content {
        padding: 2rem;
    }
    
    .footer-top {
        flex-direction: column;
    }

    .newsletter-container {
        max-width: 100%;
    }


}


/* ============ MEDIA QUERIES (MEDIUM DEVICES/TABLET) =========== */
@media screen and (max-width: 1200px) {
    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    };

    .footer-link-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-link-column {
        padding: 2rem
    }
}
