.crypto-news {
    background-color: var(--elevation-bg-1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.crypto-news-article {
    background-color: var(--elevation-bg-4);
    border-radius: 1rem;
    padding: 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.crypto-news-article > img {
    max-width: 30%;
    height: auto;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}