.crypto-news {
    background-color: var(--elevation-bg-1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.crypto-news-article {
    background-color: var(--elevation-bg-4);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
}

.crypto-news-article:last-child {
    margin-bottom: 1rem;
}

.crypto-news-article > img {
    max-width: 30%;
}

